<script type="text/x-handlebars-template" id="main">
<div class="row">

    <div class="overlayCreator">

        <!-- CONTENT -->
        <div class="col-md-8 content">
            <div class="map">
                <div id="map-wrapper">
                	<div id="add-overlay-map"></div>
                </div>
                <div id="map-coordenates"></div>
            </div>
        </div>

        <!-- FORM -->
        <div class="col-md-4 form options-form">

            <form>

                <div class="form-group">
                    <a href="#" class="filedropzone btn btn-primary">Upload</a> &nbsp; <a href="#" id="toggle-satelite" class="filedropzone btn btn-default">Toggle Satellite</a>
                    <div id="overlayCreator-image"></div>
                </div>

                <input type="hidden" name="type" value="overlay" />
                <input type="hidden" name="id" value="" />

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control"  />
                </div>

				<div class="form-group">
                    <label>Position</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="metadata[sw][latitude]" class="form-control" placeholder="Lat - SW" value="8.38543101556772" />
                        </div>

                        <div class="col-md-6">
                            <input type="text" name="metadata[sw][longitude]" class="form-control"   placeholder="Lon - SW" value="89.82421875" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="metadata[ne][latitude]" class="form-control" placeholder="Lat - NE" value="29.286398892934763" />
                        </div>

                        <div class="col-md-6">
                            <input type="text" name="metadata[ne][longitude]" class="form-control"  placeholder="Lon - NE" value="103.88671875" />
                        </div>
                    </div>
                </div>

				<div class="form-group">
                    <label>Color</label>
                    <input type="text" name="metadata[color]" class="form-control"  />
                </div>

				<div class="form-group">
                    <label>Line point</label>
                    <input type="text" name="metadata[line]" class="form-control"  />
                </div>

                <div class="form-group">
                    <label>Pan point</label>
                    <input type="text" name="metadata[pan]" class="form-control"  />
                </div>


				<div class="form-group">
                    <label>Zoom to pan</label>
                    <input type="text" name="metadata[zoom]" class="form-control"  />
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </form>

        </div>

    </div>

</div>
</script>

<script type="text/x-handlebars-template" id="medias">
{{#MEDIAS}}
    <li class="col-md-2">
        <a href="#{{id}}" class="thumb">
            <p align="center">
                {{filename}}
            </p>
        </a>
    </li>
{{/MEDIAS}}
</script>

<script type="text/x-handlebars-template" id="pagination">
<ul class="pagination">

    {{#if pagination.prev_page}}
        <li><a href="#" data-page="{{pagination.prev_page}}">Prev</a></li>
    {{else}}
        <li class="disabled"><a href="#" data-page="{{pagination.prev_page}}">Prev</a></li>
    {{/if}}

    {{#pagination}}
        <li><a href="#" data-page="{{.}}">{{.}}</a></li>
    {{/pagination}}

    {{#if pagination.next_page}}
        <li><a href="#" data-page="{{pagination.next_page}}">Next</a></li>
    {{else}}
        <li class="disabled"><a href="#" data-page="{{pagination.next_page}}">Next</a></li>
    {{/if}}

</ul>
</script>
