<script type="text/x-handlebars-template" id="main">
<div class="row">

    <div class="contentSelector">

    	<div class="col-md-12 contentSelector-content">
            <table class="table">
                <thead>
                    <th>Image</th>
                    <th>Title</th>
                    <th></th>
                </thead>
                <tbody class="list">

                </tbody>
            </table>
            <div class="pages"></div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
</script>


<script type="text/x-handlebars-template" id="contents">
{{#each contents}}
    <tr>
        <td>
            {{#each fields}}
                {{#ifvalue name value="banner"}}
                    <img src="{{ media_path }}{{ value }}" height="100"/>
                {{/ifvalue}}
            {{/each}}
        </td>
        <td>
            {{#each fields}}
                {{#ifvalue name value="title"}}
                    {{ value }}
                {{/ifvalue}}
            {{/each}}
        </td>
        <td>
            <a href="#" class="add-content" data-id="{{ id }}">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </td>
    </tr>
{{/each}}
</script>

<script type="text/x-handlebars-template" id="pagination">
<ul class="pagination">

    {{#if pagination.prev_page}}
        <li><a href="#" data-page="{{pagination.prev_page}}">Prev</a></li>
    {{else}}
        <li class="disabled"><a href="#" data-page="{{pagination.prev_page}}">Prev</a></li>
    {{/if}}

    {{#each pagination.pages}}
        <li><a href="#" data-page="{{ page }}">{{ page }}</a></li>
    {{/each}}

    {{#if pagination.next_page}}
        <li><a href="#" data-page="{{pagination.next_page}}">Next</a></li>
    {{else}}
        <li class="disabled"><a href="#" data-page="{{pagination.next_page}}">Next</a></li>
    {{/if}}

</ul>
</script>
